@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px auto;
    padding:0px auto;
}
/*INDEX*/
header{
    width:100%;
    height: auto;
    background-color: antiquewhite;
    top: 0;
    display:inline-block;
    position:fixed;
}
header img{
    width:3%;
    height:auto;
    margin-right:0%;
    float:left;
}
header nav{
    width:70%;
    display:inline-block;
    margin-left:10%;
}
header nav ul{
    display:flex;
    align-items:center;
    margin-top:1%;
}
header nav ul li{
    width:auto;
    float:left;
    list-style-type: none;
    text-decoration: none;
    border-radius: 3px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size:1vw;
}
header nav ul li a:hover{
    background-color: #FFA07A;
    transition: background-color 0.3s;
}
header nav ul li a:visited{
    text-decoration: none;
    color:black;
}
header img[src="Images/Gobierno de Mendoza.webp"]{
    float:left;
    width: 10%;
    height:auto;
}
main{
    margin-top:3%;
}
main h1{
    margin-left:3%;
    clear:left;
    text-align:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom:1%;
    font-size:2.5vw;
}
main h3{
    width:37% auto;
    height:auto;
    margin: 0 auto;
    text-align:center;
    justify-content: center;
    margin-top:0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2vw;
}
main section{
    clear:left;
}
main section div{
    width: 30%;
    height:auto;
    margin-left:14%;
    margin-right:0%;
    margin-top:3%;
    margin-bottom:1%;
    border: 1px solid black;
    border-radius:5px;
    background-color: antiquewhite;
    float:left;
}
main section div h2{
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size:2vw;
}
main section div img{
    display:flex;
    width:70%;
    margin-left:16%;
    margin-bottom:2%;
    margin-top:1%;
    border-radius:5px;
}
main section div p{
    width:80%;
    text-align:center;
}
main section div img [src="Images/Cordillera de los Andes - Mendoza.jpeg"]{
    width:30%;
}
footer{
    clear:left;
    background-color:antiquewhite;
}
footer img[src="Images/BlackMango.png"]{
    width:5%;
    height:auto;
    margin-top:0%;
    float:left;
}
footer div{
    width:20%;
    float:left;
    margin-top:0.5%;
    margin-left:2%;
    font-size:1vw;
}
footer div p{
    width:100%;
    height:auto;
    clear:left;
}
footer ul{
    display: block;
    list-style-type: disc;
    clear:left;
}
footer ul li{
    list-style-type: none;
    display: inline;
}
footer ul li a{
    text-decoration: none;
}
footer ul li img{
   width:3%;
}
footer h6{
    width:15%;
    height:auto;
    margin-left:2%;
    clear:left;
    font-size:0.8vw;
}

/*DUDAS FRECUENTES*/
main details{
    width:45%;
    margin-bottom:2%;
    margin-top:2.5%;
    background-color:antiquewhite;
    border-radius:3px;   
    border: 1px solid black;
}
main details summary{
    list-style: none;
    font-size:larger;
    font-family:'Franklin Gothic Medium';
}
main details summary:hover{
    cursor:pointer;
    user-select:none;
}
main details summary::before{
    content:'+';
    margin-left:2px;
    padding:1px;
}
main details[open] summary::before{
    content: '-';
    margin-left:2px;
    padding:1px;
}
main details summary a:visited{
    text-decoration: none;
}
main details p{
    width: 100%;
    padding-left:1%;
    font-size:large;
    text-align:left;
}

/* RESERVA */
body main form{
    width:30%;
    margin-bottom:1%;
    margin-top:1%;
    border-radius:3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
body main form h6{
    font-size:100%;
    font-family: "Noto Sans", sans-serif;
    margin-top:1%;
    text-align: center;
}
body main form select{
    margin-bottom:1%;
    margin-top:1%;
    display:flex;
}
body main form [type="date"]{
    margin-bottom:1%;
    margin-top:1%;
}
body main form input[type="submit"]{
    margin-bottom:1%;
    margin-top:1%;
}

/*SOBRE NOSOTROS*/


main p{
    width:50%;
    text-align: center;
    max-width: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    border-radius:1px;
}
main h6{
    font-size:130%;
    text-align:center;
    margin-bottom:1%;
}
main iframe{
    display:flex;
    width: 560px;
    height: 315px;
    margin-top:1%;
    margin-bottom:2%;
}
